<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '归档 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}">
<th:block th:fragment="content">
    <div id="content">
      <h2 th:text="${error.status}"></h2>
      <p th:text="${#strings.defaultString(error.title, 'Internal server error')}"></p>
      <p th:if="${not #strings.isEmpty(error.detail)}" th:text="${error.detail}"></p>
    </div>
</th:block>

</html>