<lantern id="lantern">
    <div class="lantern-box">
        <div class="lantern-box-1">
            <div class="lantern">
            <div class="lantern-line"></div>
            <div class="lantern-body">
                <div class="lantern-center">
                    <div class="lantern-text">
                        <span th:if="${theme.config.pendant.festival_text.length ge 2}" th:text="${theme.config.pendant.festival_text.substring(1, 2)}"></span>
                    </div>
                </div>
            </div>
            <div class="lantern-footer">
                <div class="com1"></div>
                <div class="com2"></div>
            </div>
            </div>
        </div>
        <div class="lantern-box-2">
            <div class="lantern">
            <div class="lantern-line"></div>
            <div class="lantern-body">
                <div class="lantern-center">
                    <div class="lantern-text">
                        <span th:if="${theme.config.pendant.festival_text.length ge 1}" th:text="${theme.config.pendant.festival_text.substring(0, 1)}"></span>
                    </div>
                </div>
            </div>
            <div class="lantern-footer">
                <div class="com1"></div>
                <div class="com2"></div>
            </div>
            </div>
        </div>
    </div>
</lantern>