<!DOCTYPE html>
<html lang="en" th:fragment="html (content)">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${#strings.defaultString(title, site.title)}"></title>
  <link rel="stylesheet" th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}" />
  <script th:src="@{/assets/dist/main.js?v={version}(version=${theme.spec.version})}"></script>
</head>

<body>
  <div id="wrapper">
    <div th:replace="~{modules/header :: header}"></div>
    <th:block th:replace="${content}" />
    <div th:replace="~{modules/footer :: footer}"></div>
    <div id="settings-container">
      <div id="dark-mode">dark</div>
      <div id="sans-font">sans</div>
    </div>
  </div>
</body>

</html>